// Agregar gradiente a la nav y logo 
.gradiente{
    background-image: linear-gradient(to right,rgba(0, 0, 255, 0.848),rgba(0, 255, 247, 0.93))
    }
//Color de la nav vertical 
.color{
    background-color: $colorNavVertical;
}

// fuente de la nav
a{
    font-size: $fuenteNav;
}
// Correcion de posicion de los H1 Y H2
h1,h2{
    @extend .posicion-centro;
}
// Personalizacion de los p
p{
    padding: $pading;
    font-size: $fuenteP;
    background-color: rgba(9, 237, 241, 0.611);
}
